:root{
    font-family:'Courier New', Courier, monospace;
    --header-height: 75px;
    --portfolio-max-height: 500px;
    --portfolio-item-width: 155px;
    --portfolio-item-height: 250px;
    --icon-radius: 20px;
    --list-indentation: 20px;
    --hamburger-menu-list-height: 250px;
    /*==== Color Center ====*/
    --header-color: rgb(32, 178, 129);
    --header-color-2: rgb(11, 136, 128);
    --section-color: white;
    --inset-color: lightgray;
    --highlight-color: aquamarine;
    --button-color: rgb(127, 255, 208);
    --button-text-color: rgb(32, 178, 132);
    --button-highlight-color: white;
    --text-color: black;
    --footer-color:black;
    --footer-text-color:white;
    --bg-color-1: rgb(185, 223, 225);
    --bg-color-2: rgb(79, 101, 101);

}

h1{
    font-size: 200%;
}
h2{
    font-size: 190%;
}
h3{
    font-size: 180%;
}
h4{
    font-size: 170%;
}
h5{
    font-size: 160%;
}
h6{
    font-size: 150%;
}

/*================ Top Bar ================*/
header{
    display:inline-flex;
    width: 100%;
    background: linear-gradient(90deg, var(--header-color) 0%, var(--header-color-2) 100%);
    height: var(--header-height);
    top: 0px;
    left: 0px;
    padding: 1% 2% 1% 2%;
    flex: 1 1 1%;
    position: fixed;
    align-items: center;
    justify-content:space-between;
}

header ul{
    display: none;
    position:fixed;
    align-items: top;
    text-align: center;
    background-color: var(--header-color-2);
    overflow-y: hidden;
    padding: 0.5%;
    flex-wrap: wrap;
    right: 0%;
    top: var(--header-height);
    font-size: 150%;
}

header ul li {
    min-width:auto;
    display: block;
    padding: 1%;
    color: var(--text-color);
    font-weight: bold;
    margin: 1%;
    border-radius: 5% 0% 5% 0%;
    width:100%;
    border-radius: 5%;
}    
header h1{
    align-items: center;
    display:flex;
    flex: 1 1 fit-content;
    padding: 1%;
    max-height: var(--header-height);
}
@media only screen and (max-width: 500px){
    header h1{
        font-size: 150%;
    }
}

/*================ Bottom Bar ================*/

footer{
    display:flex;
    width: 100%;
    background-color: var(--footer-color);
    height: var(--header-height);
    padding: 1% 2% 1% 2%;
    flex: 1 1 1%;
    left: 0px;
    bottom: 0px;
    color:var(--footer-text-color);
    position: fixed;
    align-items: center;
    justify-content:flex-end;
}

footer ul{
    display:inline-flex;
    min-width: fit-content;
    flex: 1 1 var(--icon-radius);
    justify-content: flex-end;
}

footer ul li {
    height:fit-content;
    width: fit-content;
    max-width: calc(var(--icon-radius)*2.5);
    padding: 0% 10px 0% 0%;
}

@media only screen and (max-width: 300px){
    footer{
        flex-wrap:wrap;
        justify-content:center;
    }
    
    footer ul{
        justify-content: center;
    }
}

/*================ Hamburger Menu ================*/

#hamburgerMenu{
    height: 50px;
    width: 50px;
    display:none;
    flex-wrap: wrap;
    font-size: 500%;
    font-weight: lighter;
    color:var(--button-text-color);
    border-radius: 10%;
    flex: 0 0 50px;
    justify-content: center;
    align-content:center;
    background-color: var(--button-color);
}

#hamburgerMenu:hover{
    background-color: var(--button-highlight-color);
    color: var(--button-color)
}

@keyframes extendHamburgerMenu {
    from{
        max-height:0px;
    }
    to{
        max-height:var(--hamburger-menu-list-height);
    }
}

#hamburgerMenu{
    display:flex;
}
header #hamburgerMenu:hover + ul, header ul:hover{
    display:flex;
    animation-name: extendHamburgerMenu;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    
}   

/*================ Generic ================*/


body{
    padding: 1%;
    background: linear-gradient(180deg, var(--bg-color-1) 0%, var(--bg-color-2) 100%);
}
#main{
    display: flex;
    background-color: var(--section-color);
    border-radius: 1%;
    margin-top: var(--header-height);
    margin-bottom: var(--header-height);
    height: calc(100% - (2* var(--header-height)));
}

.smaller {
    justify-content: space-between;
    height: 75%;
    width: 75%;
    font-size: 75%;
}

body div aside section ul{
    list-style-type:circle;
    margin: 0% 0% 0% var(--list-indentation);
}
body div aside section ul li{
    padding: 0% 0% 2% 0%;
}

aside{
    overflow-y:auto;
    padding: 1%;
    width: 100%;
}
section{
    padding: 1%;
    margin: 0% 0% 1% 0%;
}

section h1 {
    margin: 1% 0% 1% 0%;
    background: linear-gradient(90deg, var(--header-color) 0%, var(--section-color) 50%);
    padding: 1%;
    border-radius: 1%;
}
.emptySpace{
    display:block;
    height: calc(var(--header-height) + calc(var(--header-height) * 0.1));
}

a{
    color:var(--text-color);
    text-decoration: none;
}

.actual-link{
    color: blue;
    text-decoration: underline;
    
}
.actual-link:hover{
    color: blue;
}
.actual-link:active{
    color:purple;
    padding-top:2px;
}

.growOnHover:hover{
    transition: all .2s ease-in-out;
    &:hover{
        transform:scale(101%);
    }
}

.changeColorOnHover:hover{
    transition: all .2s ease-in-out;
    &:hover{
        background-color:var(--highlight-color);
    }
}

.extendOnHover:hover{
    transition: all .2s ease-in-out;
    &:hover{
        max-height: fit-content;
    }
}
.icon img{
    width: calc(var(--icon-radius)*2);
    height: calc(var(--icon-radius)*2);
    max-height: 10vw;
    max-width: 10vw;
    border-radius: 100%;
}

#picOfMe img{
    width: calc(var(--header-height)*0.9);
    height: calc(var(--header-height)*0.9);
}
@media only screen and (max-width: 992px){
    #main{
        display: block;
        height: fit-content;
    }
    aside{
        overflow-y: unset;
    }
}

@media only screen and (max-width: 300px){
    header h1{
        display:none;
    }
    #picOfMe img{
        max-height: fit-content;
        max-width: fit-content;
    }
}

/*================ Portfolio ================*/

#portfolio{
    display:inline-flex;
    flex: 1 1 100%;
    width: 100%;
}

.portfolio-holder{
    padding: 1%;
    background-color: var(--inset-color);
    margin: 0% 0.5% 0% 0.5%;
    flex: 1 1 100%;
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: center;
    overflow-x: clip;
    overflow-y: scroll;
    min-height: 100%;
    border-radius: 1%;
}
.portfolio-holder ul li{
    background-color: var(--section-color);
    display: inline-flex;
    flex: 1 1 100%;
    margin: 4px;
    border-radius: 5%;
    flex-wrap:wrap;
    width: var(--portfolio-item-width);
    height: fit-content;
    max-height: var(--portfolio-item-height);
    max-width:var(--portfolio-item-width);
    justify-content:left;
    align-items: self-end;
    overflow: hidden;
}
.portfolio-holder ul li a  {
    width: 100%;
    max-width: 100%;
    height: fit-content;
}

.portfolio-holder ul li a picture {
    display:flex;
    overflow: hidden;
    justify-content: center;
    width: 100%;
    max-width: var(--portfolio-item-width);
    max-height: var(--portfolio-item-height);
    aspect-ratio: 1;
}
.portfolio-holder ul li div {
    padding: 5%;
    align-items: flex-end;
    flex-wrap: wrap;
    display: inherit;
}
.portfolio-holder ul li a div h2 {
    padding-bottom: 1%;
}
.portfolio-holder ul li:first-of-type{
    display:flex;
    flex: 1 1 100%;
    width: 100%;
    max-width: 100%;
    height:var(--portfolio-item-height);
    aspect-ratio:calc(16/9);
    flex-wrap: nowrap;
}
.portfolio-holder ul li:first-of-type a picture{
    width: 100%;
    max-width: 100%;
    display: inline-grid;
    max-height: 75%;
}

@keyframes extendOnHover {
    from{
        max-height:inherit;
    }
    to{
        max-height:max-content;
    }
    
}

@media only screen and (max-width: 550px){
    .portfolio-holder{
        max-height: var(--portfolio-max-height);
    }
}
@media only screen and (max-width: 300px){
    .portfolio-holder{
        max-height: calc(var(--portfolio-max-height)*0.75);
    }
}

